// basic markup

//class creation
.folders{
    background: #000;
    &__list{
        color: $secondary-color;
    } 
    &__item{
        font-style: italic;
    }
}

body {
    margin: 0;
  }
  .siteHeader {
    display: flex;
  
    justify-content: space-between;
  
    padding: 10px;
    background-color: #56727c;
    &__section {
      display: flex;
  
      align-items: center;
    }
    &__item {
      padding: 5px 15px;
      font-size: 12px;
    }
  }
  
  .siteHeader__item + .siteHeader__item {
    margin-left: 5px;
  }
  
  .siteHeader__item.is-site-header-item-selected {
    color: #ffffff;
    background-color: #415f69;
    border-radius: 4px;
  }
  
  .siteHeaderLogo {
    font-size: 20px;
    line-height: 0;
    color: white;
  }
  
  .siteHeaderButton {
    cursor: pointer;
    color: #d9e9ef;
  }
  
  .formFooter {
    display: flex;
  
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #d7dbdd;
    padding: 10px;
  }
  
  .centeredPrompt {
    display: flex;
  
    flex-direction: column;
    justify-content: center;
  
    align-items: center;
    border: 1px solid black;
    min-height: 300px;
    padding: 10px;
    background-color: grey;
  }
  
  .centeredPrompt__item + .centeredPrompt__item {
    margin-top: 5px;
  }
  
  .centeredPromptIcon {
    font-size: 60px;
    line-height: 0;
  }
  
  .centeredPromptLabel {
    color: white;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
  }
  
  .centeredPromptDetails {
    color: white;
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .icon {
    color: #bcd2da;
  }
  
  .container {
    display: flex;
    padding: 0 px;
    margin: 0 px;
    list-style: none;
    justify-content: space-between;
  }
  
  .Folders {
    padding: 8px;
    width: 60%;
    height: auto;
    margin-top: 10px;
    background-color: #bcd2da;
  }
  
  .to-dos {
    padding: 8px;
    width: 35%;
    height: auto;
    margin-top: 10px;
    background-color: #bcd2da;
  }
  
  .photo {
    font-size: 18px;
    font-weight: bold;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
    color: #ffffff;
    background-size: cover;
    background-position: center;
    border-radius: 4px;
  }
  